<app-header></app-header>
<div class="container pt-5 pb-5">
    <table class="table bg-light rounded-2" style="margin-top: 7%">
        <thead>
        <tr class="text-left fs-5">
            <th scope="col" class="py-3">Issue</th>
            <th scope="col" class="py-3">Requests</th>
            <th scope="col" class="py-3">Status</th>
            <th scope="col" class="py-3">Created 
                <span class="sort-button" (click)="sortPetitionsByCreated()">
                    <i class="fas fa-sort"></i>
                  </span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let petition of openPetitions">
            <th scope="row" style="width: 10%">{{ petition.petitionId}}</th>
            <td style="width: 40%">
                <div>
                    <p class="mb-1">{{ petition.title }}</p>
                    <p class="mb-1">{{petition.description}}</p>
                    <p class="mb-1">{{petition.address}}</p>
                    <p class="mb-1">Like numbers: {{petition.likesNumber}}</p>
                </div>
            </td>
            <td><span class="text-warning d-inline">{{petition.status}}</span></td>
            <td>{{ petition.createdAt | date: 'medium' }}</td>
        </tr>
        </tbody>
    </table>

    <table class="table bg-light rounded-2" style="margin-top: 7%">
        <thead>
        <tr class="text-left fs-5">
            <th scope="col" class="py-3">Issue</th>
            <th scope="col" class="py-3">Requests</th>
            <th scope="col" class="py-3">Status</th>
            <th scope="col" class="py-3">Created 
                <span class="sort-button" (click)="sortPetitionsByCreated()">
                    <i class="fas fa-sort"></i>
                  </span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let petition of closedPetitions">
            <th scope="row" style="width: 10%">{{ petition.petitionId}}</th>
            <td style="width: 40%">
                <div>
                    <p class="mb-1">{{ petition.title }}</p>
                    <p class="mb-1">{{petition.description}}</p>
                    <p class="mb-1">{{petition.address}}</p>
                    <p class="mb-1">Like numbers: {{petition.likesNumber}}</p>
                </div>
            </td>
            <td><span class="text-danger d-inline">{{petition.status}}</span></td>
            <td>{{ petition.createdAt | date: 'medium' }}</td>
        </tr>
        </tbody>
    </table>
</div>

<app-foor></app-foor>
