<div class="footer">
  <div class="container justify-content-left ">
    <footer class="py-5 mb-2 text-white">
      <p class="fs-5 ">Astana Innovations</p>
      <div class="border-bottom d-flex pb-lg-5 pb-3">
        <a href="#" [routerLink]="['/main_page']" class="nav-link text-white ">Send request</a>
        <a href="#" [routerLink]="['/main_page']" class="nav-link text-white ps-5 ">Learn more</a>
        <a href="#" [routerLink]="['/main_page']" class="nav-link text-white ps-5">About us</a>
      </div>
      <p class="text-white pt-4">&copy;2023 Astana Innovations . All rights reserved.</p>
    </footer>
  </div>
</div>
