<!-- <app-header></app-header>
<main class="white">
  <div class=" ms-3">
    <div class="row">
      <div class="container col-5 col-lg-4 ">
        <div class="row align-items-center pt-4">
          <div class="col-4 col-lg-5">
            <h3 class="fw-bold ms-3" style="color: black">Your requests</h3>
          </div>
          <div class="col-5 col-lg-3 " style="margin-left: 20%">
           <a [routerLink]="['/main_page']"><button type="button" class="btn btn-close btn-dark" aria-label="Close"></button></a>
          </div>
        </div> -->
        <!--card-->
        <!-- <div class="card border border-end border-light-subtle rounded-5 bg-transparent my-4 p-2" style="width:78%">
          <div class="card-body " *ngFor="let requests of requests">
            <h4 class="card-title">{{requests.title}}</h4>
            <h6 class="card-subtitle my-3 text-body-dark">{{requests.address}}</h6>
            <div class="d-flex my-3 ">
              <p class="card-subtitle fs-6  text-body-dark">{{requests.status}}</p>
              <p class="card-subtitle fs-6 ps-5 text-body-secondary">{{requests.date}}</p>
            </div>
            <p class="card-subtitle pt-2">{{requests.problem}}</p>
            <div class="d-flex justify-content-end mt-2">
              <app-like-btn></app-like-btn>
              <app-dislike-btn></app-dislike-btn>
            </div>
          </div>
        </div> -->
      <!-- </div>
      <div class="col-7 col-lg-8 position-relative" id="map" style="min-height: 700px;"> -->
        <!-- <img src="" class="img-fluid"> -->
      <!-- </div>
      <app-button-create></app-button-create>
    </div>
  </div>
</main>
<app-foor></app-foor> -->