<nav class="navbar navbar-expand-lg navbar-dark bg-black text-white">
  <div class="container mt-2">
    <a href="/" class="d-flex align-items-left me-md-2 link-body-emphasis text-white">
      <span class="fw-bold fs-6">BusStops</span>
      <span class="fs-6">&nbsp;make your road convenient</span>
    </a>
    <a href="/" class="d-flex align-items-left link-body-emphasis text-white ">
      <a href="/" [routerLink]="['/sign_in']" class="d-flex align-items-left mt-2 me-md-2 link-body-emphasis text-white">
        <span class="fs-6 mt-1" *ngIf="!isAuthenticated">Sign in &nbsp;</span>
        <span class="fs-5 text-muted" style="margin-bottom: 8px;" *ngIf="!isAuthenticated"><i class="fa-solid fa-user" style="color: #ffffff;"></i></span>
      </a>
      <div class="dropdown " *ngIf="isAuthenticated">
        <a class="btn dropdown-toggle link-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="fs-5 text-muted" ><i class="fa-solid fa-user" style="color: #ffffff;"></i></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end rounded-1 px-3">
          <li><a class="dropdown-item " href="/user_account">Your profile page</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/create_request">Create Request</a></li>
          <li><hr class="dropdown-divider"></li>
          <li ><a class="dropdown-item" href="#" (click)="logout()">Log out</a></li>
        </ul>
      </div>
    </a>
  </div>
</nav>
