<app-header></app-header>
<main>
  <div class="gradient-custom">
    <div class="container py-5">
      <div class="row">
        <div class="col-12 col-lg-6 text-center text-lg-start d-flex align-items-center justify-content-center mt-5">
          <div class="row-gap-3">
            <h1 class="text-white display-4 roboto mt-5">Make your city easier</h1>
            <h1 class="gradient_blue display-4 roboto mt-5 fw-bold">BusStop.kz</h1>
            <div class="d-flex gap-5 py-5">
              <button (click)="goForward()" class="btn btn-light rounded-pill px-5 py-2 mx-2 fw-bold" type="button" >Send Request</button>
              <button (click)="scrollTo()" class="btn rounded-pill px-5 text-white border border-light mx-2 fw-bold" type="button" style="background: transparent">Learn more</button>
            </div>
          </div>

        </div>
        <div class="col-12 col-lg-6 text-center text-lg-start text-white d-flex align-items-right justify-content-right mt-5">
          <img src="../../../../assets/images/img.png" class="img-fluid">
        </div>
      </div>
      <div #myDiv id="myDiv" class="row mt-5 pt-5 justify-content-center">
        <div class="col-6 col-lg-3 align-items-left justify-content-left bg-transparent border border-secondary rounded-5 text-white mx-5 my-5 px-5 py-3">
          <p class="fs-4 fw-bold">Easy</p>
          <p class="fs-6">Our service is designed with ease of use in mind, making it accessible to users of all levels of technical ability. The user interface is intuitive and user-friendly, with clear navigation and simple instructions.</p>
        </div>
        <div class="col-6 col-lg-3 align-items-left justify-content-left bg-transparent border border-secondary rounded-5 text-white mx-5 my-5 px-5 py-3">
          <p class="fs-4 fw-bold">Privacy</p>
          <p class="fs-6">At our service, privacy of our users is of utmost importance. We understand that users may have concerns about sharing their personal information and travel patterns.</p>
        </div>
        <div class=" col-6 col-lg-3 align-items-left justify-content-left bg-transparent border border-secondary rounded-5 text-white mx-5 my-5 px-5 py-3">
          <p class="fs-4 fw-bold">Quick </p>
          <p class="fs-6">Our service is designed with speed in mind, making it quick and efficient for users to accomplish their tasks. This means that users can quickly access the features they need without having to wait for long periods of time</p>
        </div>
      </div>
      <div class="container my-5">
        <p class=" display-3 gradient_blue fw-bold pt-5">We are a company that has </p>
        <p class=" display-3 gradient_blue fw-bold my-5">created a BusStop platform for </p>
        <p class=" display-3 gradient_blue fw-bold my-5">software innovation.</p>
      </div>

      <div class="container text-center py-5">
        <img class="img-fluid pt-5" src="../../../../assets/images/Device%20-%20Macbook%20Air.png">
      </div>

    </div>

  </div>

</main>
<app-foor></app-foor>